.tweets-container {
  .tweets {
    .tweet {
      display: flex;
      margin-bottom: 20px;
      .avatar {
        flex: 0 1 85px;
        img {
          width: 55px;
          height: 55px;
          background-color: #aaa;
          border-radius: 4px;
        }
      }
      .content {
        .header {
          p {
            font-weight: bold;
            margin:0px;
            display: inline-block;
            span.value {
              font-weight: normal;
              margin: 0 10px;
              color: #aaa;
              font-weight: normal;
            }
          }
        }
        .main{
          p{
            margin:0px;
          }
        }
        .meta {
          p {
            margin:0px;
            color: #aaa;
            font-weight: bold;
            display: inline-block;
            .fa {
              margin-right: 5px;
              &.fa-heart {
                color: pink;
              }
              &.fa-retweet {
                color: #516e80;
              }
            }
            span.value {
              font-weight: normal;
              margin-right: 20px;
            }
          }
        }
      }
      &.tweets-enter{
        transition:500ms cubic-bezier(0.785, 0.135, 0.150, 0.860) all;
        opacity: 0;
        transform: rotate(15deg) translateX(-100%) scale(0.1);
      }
      &.tweets-enter-active{
        opacity: 1;
        transform: rotate(0deg) translateX(0)  scale(1);
      }

    }
  }
  .load-more-tweets{
    text-align: center;
  }
}